html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.App {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}
input {
  display: block;
  width: 20rem;
  height: 2rem;
  padding: 0.5rem;
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 2rem;
}
button {
  border: #b61111;
  padding: 1rem;
  width: 21.2rem;
  font-size: 1.2em;
  border-radius: 1.2rem;
  cursor: pointer;
}
button:hover {
  background-color: #b61111;
}
.message {
  font-size: 1.2em;
  text-align: center;
  color: #36a936;
}
